@import "../variables";

.page.login {
  header {
    text-align: center;
    margin-bottom: 15px;
  }

  form {
    .alert {
      ul {
        padding-left: 15px;
      }
    }

    .btn[type="submit"] {
      width: 100%;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }
  }

  .auth, .oauth {
    border: 1px solid lighten($brand-primary, 30);
    padding: 25px;
  }

  .auth {
    border-radius: 3px 3px 0 0;
  }

  .oauth {
    border-radius: 0 0 3px 3px;
    border-top: none;
  }

  @media (min-width: $screen-sm-min) {
    .auth, .oauth {
      min-height: 205px;
    }

    .auth {
      border-radius: 3px 0 0 3px;
    }

    .oauth {
      border: 1px solid lighten($brand-primary, 30);
      border-radius: 0 3px 3px 0;
      border-left: none;
    }
  }

  footer {
    margin-top: 20px;
    text-align: center;
  }
}
