@import "bootstrap/mixins";
@import "variables";

.btn {
  padding: 8px 16px;
  @include transition(background-color .1s linear);
}

.btn-ghost {
  background: transparent;
  color: $brand-primary;
  border: 1px solid $brand-primary;

  &:hover {
    color: darken($brand-primary, 10);
  }
}

.btn-github {
  background: lighten($github-color, 10);
  border-color: lighten($github-color, 10);

  i {
    float: left;
    font-size: 1.8em;
    position: relative;
    top: -.1em;
  }

  &:hover, &:active, &:focus, &:active:focus {
    background: $github-color;
    border-color: $github-color;
  }
}
